* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  right: 0;
  left: 0;
  background-color: #EEE;
  min-height: 100%;
}

header {
    background-color: #DDD;
}

nav {
    height: 30px;
}

nav ul {
  margin: 0;
}

nav li {
  list-style-type: none;
  display: inline-block;
  margin: 5px 20px;
  cursor: pointer;
  text-transform: uppercase;
}

.nav-item {
    text-decoration: none;
    color: #777;
}

.nav-item:hover {
    color: #000;
}

.content {
    margin: 10px;
    height: 100%;
}

.ryans-dream {
  margin-top: 10px;
}

.escape {
    padding: 10px;
}
